project_name: dev
clusterhost: dev.example.com:8443
token: eyJhbGciOiJSUzI1...qKqF-hefeU06alfBaQ

admin_users:
  - user1
  - user2
editor_users:
viewer_users:
deprecated_admin_users:
deprecated_editor_users:
deprecated_viewer_users:
