clusterhost: https://prod.example.com
token: eyJhbGciOiJSUzI1...U-qgyCo9XLtEpWUkpG3CEmmg
oc: oc --token={{ token }} --server={{ clusterhost }}

admin_users:
  - user1@example.com
editor_users:
viewer_users:
  - user2@example.com
  - user3@example.com
deprecated_admin_users:
deprecated_editor_users:
deprecated_viewer_users:

jenkins_automation_openshift_role: edit
