clusterhost: https://registry.example.com:8443
token: eyJhbGciOiJSUzI1...q6vB3PLizZIMmnA
oc: oc --insecure-skip-tls-verify=true --token={{ token }} --server={{ clusterhost }}

admin_users:
editor_users:
  - user1
  - user2
viewer_users:
deprecated_admin_users:
deprecated_editor_users:
deprecated_viewer_users:

jenkins_automation_openshift_role: edit
api_secret_name: registry-api
