clusterhost: https://stage.example.com:8443
token: eyJhbGciOiJSUzI1N...uopaWYtJZeyI68td5acu6eg59bQ5A8eI08xQ
oc: oc --insecure-skip-tls-verify=true --token={{ token }} --server={{ clusterhost }}

jenkins_automation_openshift_role: edit
api_secret_name: stage-api

admin_users:
  - user1
  - user2
editor_users:
viewer_users:
deprecated_admin_users:
deprecated_editor_users:
deprecated_viewer_users:
