---
# ----------------------
# Application parameters
# ----------------------
source_repo_url: https://github.com/tchughesiv/jenkins-on-openshift.git
source_repo_branch: master
# path (inside the repo) where the application template is
app_template_path: app/openshift/nodejs-mongodb-persistent.json

# app_name is used to name build and deployment configurations
app_name: nodejs-mongodb-ephemeral
app_base_tag: nodejs:6

# ----------------------
# Environment parameters
# ----------------------

# The hostname to the central registry where all images are stored.
# You can add a port if needed, e.g. registry.example.com:5000
central_registry_hostname: docker-registry.default.svc:5000

# Wether to validate TLS/SSL certs involved in communications with OpenShift
# and/or registry. Note: setting this to False may not be enough: this only
# affects interactions managed by these playbooks, but image push/pull is
# handled by the nodes, so you might have to adjust container runtime
# configuration there
validate_certs: True

# --------------
# Job parameters
# --------------
notify_email_list: tohughes@redhat.com
notify_email_from: jenkins@example.com
notify_email_replyto: noreply@example.com

# --------------------------------
# OpenShift client command options
# --------------------------------
# This is how the "oc" client will be invoked.
# The token/clusterhost/project_name are set in vars for each environment
oc: >-
  oc {% if not validate_certs %}--insecure-skip-tls-verify{% endif %}
  --token={{ token }} --server=https://{{ clusterhost }} -n {{ project_name }}
