---
project_name: dev
project_display_name: "Development - Software lifecycle"
project_description: "Development - Software Development Lifecycle (SDLC)"
clusterhost: dev.example.com:8443

admin_users:
  - user1
  - user2
editor_users:
viewer_users:
deprecated_admin_users:
deprecated_editor_users:
deprecated_viewer_users:
