---
project_name: stage
project_display_name: "Stage - Software lifecycle"
project_description: "Stage - Software Development Lifecycle (SDLC)"
clusterhost: stage.example.com:8443

jenkins_automation_openshift_role: edit

admin_users:
  - user1
  - user2
editor_users:
viewer_users:
viewer_groups:
deprecated_admin_users:
deprecated_editor_users:
deprecated_viewer_users:
deprecated_viewer_groups:
